{% extends 'base.html' %}
{% load static %}
{% block title  %}about{% endblock title %}
{% block content %}
{% comment %} <h2 class="text-center">About IQRAA</h2> {% endcomment %}
<h1 style="text-align:center; font-style:italic;color:red"> ABOUT IQRAA </h1>

<hr>
<p class="text-justify">The Iqraa International Hospital & Research Centre is planning to augment capacity from 250 beds to 600 beds. The hospital is located at Vengeri village in Kozhikode district of Kerala. The project comprises a cancer specialty block of basement+G+eight floors with modern amenities. Muhammad Abdu Yamani, whom we hold in high esteem, was the founder and mentor of our hospital.The objective of the hospital is to deliver high-quality healthcare services at affordable cost. Even though a charitable institution, IQRAA provides state-of-the-art diagnostic and treatment facilities made affordable to people from all sections of society.</p>
<p class="text-justify">The hospital facilities provides strict and ethical medical practices, the hospital team ‐ which expands to 400 doctors and over 2500 nursing, paramedical and administrative staff – relentlessly strive to keep up our ideology, ‘ <b>more than care </b>‘.</p>
{% comment %} <div class="card text-white bg-primary mb-3" style="max-width: 18rem; align:center;">
    <div class="card-header">BMH - more than care</div>
    <div class="card-body"> {% endcomment %}
      <p class="card-text">Being committed to care for three decades has meant a lot to us. It helped us to understand better on how to give you more than care, through deeper understanding of your needs. We have thus, combined the best of healthcare, commitment and personal attention to give you a unique healing experience.</p>
    {% comment %} </div> {% endcomment %}
{% endblock content %}