{% extends 'base.html' %}
{% block title  %}contacts{% endblock title %}
{% block content %}
<h2 class="text-center">IQRAA International Hospital As</h2>
<hr>
<p class="text-center">If you can't find an answer to your questions, please don't hesitate to contact us.</p>
<div class="text-center">
<h4>IQRAA INTERNATIONAL HOSPITAL</h4>
<p> Wayanad Road,  Malaparamba, Kozhikode - 673009 Kerala, India</p>
<h5>PHONE</h5>
<a href="">+91-495-23738225</a>
<h5>EMERGENCY</h5>
<a href="">0495 237 9201</a>
<h5>EMAIL</h5>
<a href="">@iqraahospital.in.</a>
</div>
<hr>
{% comment %} <div class="mapouter">
    <div class="gmap_canvas"><iframe width="1080" height="232" id="gmap_canvas" src="https://maps.google.com/maps?q=bmh%20cal&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net"></a><br><style>.mapouter{position:relative;text-align:right;height:232px;width:1080px;}</style><a href="https://www.embedgooglemap.net">google maps on web site</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:232px;width:1080px;}</style>
</div></div> {% endcomment %}

{% endblock content %}
