{% extends 'base.html' %}
{% load static %}
{% block title  %}doctors{% endblock title %}
{% block content %}<h1 style="text-align:center; font-style:italic;color:red"> Our Doctors</h1> 
<hr>
{% comment %} {% for i in doctors %}
<div class="d-inline">
  <img src="{{i.doc_image.url}}">
  <h2>{{i.doc_name}}</h2>
  <p>{{i.doc_spec}}</p>
  <p>{{i.dep_name}}</p> {% endcomment %}
  {% for i in doctors %}
  <div class="card-group">
    <div class="card">
      <img src="{{i.doc_image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{i.doc_name}}</h5>
        <p class="card-text">{{i.doc_spec}}</p>
        <p class="card-text"><small class="text-muted">{{i.deo_name}}</small></p>
      </div>
    </div>
  
  {% endfor %}
{% endblock content %}